<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1> Feedback from <%= @user.username %></h1>
        <h2> Email is <%= @user.email %></h2>
        <b>Feedback:</b>
        <p>
        <%= @email %>
        </p>
    </body>
</html>
